doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/css/global.css')
        link(rel="stylesheet", href="/css/leeme.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/x-icon" href="/assets/IconoWeb.ico")
        title Leeme
    body 
        .container
            h2.titulo Leeme soy importante 游땎
            ul.lista 
                li.objeto-lista 游닇 Solo tendr치s 3 intentos, despu칠s deberas registrarte.
                li.objeto-lista 游댏 Tus datos de sesi칩n ser치n guardados en nuestra base de datos.
                li.objeto-lista 游봊 Si eres invitado, tu cookie representativa ser치 guardada en nuestra base de datos, cuando uses tus intentos.
                li.objeto-lista 游놑游 Ninguno de los metodos aqui usados es recomendable usarse para encriptar datos sensibles.

            a(href="/") 
                button(class="btn") VOLVER
