doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/css/global.css')
        link(rel="stylesheet", href="/css/terminos_y_condiciones.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/x-icon" href="/assets/IconoWeb.ico")
        title Terminos y condiciones
    body 
        .container
            h2.titulo Terminos y Condiciones 
            p NO HAY 👻🤣🥹
            a(href="/registrarse") 
                button(class="btn") VOLVER A REGISTRO
